.text-base {
  line-height: var(--lh-base);
  font-weight: var(--fw-base);
  letter-spacing: var(--ls-normal);
  max-width: var(--measure-normal);
}

.text-heading {
  line-height: var(--lh-heading);
  font-weight: var(--fw-bold);
  letter-spacing: var(--ls-tight);
  max-width: var(--measure-compact);
}
