---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Astro & Tailwind - Starter template">
	<h1>About page</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, possimus
		culpa consequuntur cum itaque expedita voluptas, repellat sint, dolores
		sequi ea commodi facere inventore voluptatibus illo! Odio corrupti dicta
		minima?
	</p>
</BaseLayout>
