<section class="flex flex-col md:flex-row gap-md items-center">
  <img width="300" src="https://placehold.co/200x300" alt="">

  <div class="flow">
    <div>
      <h2 class="text-base">About</h2>
      <p class="text-heading text-700">Front-end engineer based in Brussels, Belgium 📍</p>
    </div>
    <p>I possess a range of skills in HTML, CSS, JavaScript Frameworks (Vue, React), Tailwind, Git, and more. I have now a few years of experience in designing and working on responsive websites and web applications. My goal is to fulfill your needs efficiently while contributing to a better and more accessible web for all. As a team player, I excel in collaborating with cross-functional teams to deliver successful digital projects. </p>
    <button>Download CV</button>
  </div>
</section>
