---
import BaseButton from "./base/BaseButton.astro";
---

<section class="[ hero ] [ bg-lightest ] [ relative h-screen flex flex-col items-start justify-center ]">
  <div class="container">
    <h1 class="visually-hidden">Ivan Rodrigues - Frontend Engineer & UI Designer</h1>
    
    <div class="flow">
      <div class="leading-heading">
        <p class="text-500">Hello, I'm</p>
        <p class="text-900">Ivan Rodrigues</p>
        <p class="text-400">Frontend Engineer &amp; UI Designer</p>
      </div>
      <BaseButton label="Open Portfolio" />
    </div>
    
    <div class="container absolute bottom-0 left-0 right-0 mb-md">
      <ul class="flex gap-md justify-start reset-list">
        <li><BaseButton label="Linkedin" variant="secondary" size="sm" /></li>
        <li><BaseButton label="Github" variant="secondary" size="sm" /></li>
      </ul>
    </div>
  </div>
</section>

<style>
  .hero {
    max-height: 760px;
  }
</style>
