<section class="full-bleed h-screen w-screen flex flex-col items-start justify-center">
  <div class="wrapper">
    <h1 class="visually-hidden">Ivan Rodrigues - Frontend Engineer & UI Designer</h1>
    <div class="flow">
      <div class="leading-heading">
        <p class="text-500">Hello, I'm</p>
        <p class="text-900">Ivan Rodrigues</p>
        <p class="text-400">Frontend Engineer &amp; UI Designer</p>
      </div>
      <button>Open Portfolio</button>
    </div>
    
    <div class="wrapper absolute bottom-0 left-0 right-0 mb-md">
      <ul class="flex gap-md justify-start reset-list">
        <li>Linkedin</li>
        <li>Github</li>
      </ul>
    </div>
  </div>
</section>
