<nav class="bg-lightest py-md">
	<div class="wrapper">
		<ul class="nav-items">
			<li><a href="/" data-state="active">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="#footer">Footer</a></li>
		</ul>
	</div>
</nav>
