---
import iconPassionate from '@assets/icons/heart-svgrepo-com.svg';
import iconSelfTaught from '@assets/icons/book1-svgrepo-com.svg';
import iconTechEnthusiast from '@assets/icons/ai-mi-algorithm-svgrepo-com.svg';
---
<section class="bg-lightest">
  <div class="container grid grid-cols-1 md:grid-cols-[repeat(3,1fr)] ">
    <h2 class="visually-hidden">Values</h2>
    <div class="flex flex-col items-center p-md">
      <img width=100 class="bg-light" src={iconPassionate}>
      <h3 class="text-500 tracking-norma text-black mt-md">Passionate</h3>
      <p>Vue, React, CSS, Design</p>
    </div>
    <div class="flex flex-col items-center p-md">
      <img width=100 class="bg-light" src={iconSelfTaught}>
      <h3 class="text-500 tracking-normal text-black mt-md">Self Taught</h3>
      <p>Web Development</p>
    </div>
    <div class="flex flex-col items-center p-md">
      <img width=100 class="bg-light" src={iconTechEnthusiast}>
      <h3 class="text-500 tracking-normal text-black mt-md">Tech Enthusiast</h3>
      <p>AI, Machine Learning</p>
    </div>
  </div>
</section>

