<section class="grid-auto gap-md">
  <div class="text-center border border-solid border-primary p-lg">Value A</div>
  <div class="text-center border border-solid border-primary p-lg">Value B</div>
  <div class="text-center border border-solid border-primary p-lg">Value C</div>
</section>

