[class*="flow"] > * + * {
  margin-top: var(--space, var(--space-md));
}

.flow-xs {
  --space: var(--space-xs);
}

.flow-sm {
  --space: var(--space-sm);
}

.flow, .flow-md {
  --space: var(--space-md);
}

.flow-lg {
  --space: var(--space-lg);
}

.flow-xl {
  --space: var(--space-xl);
}

.flow-xxl {
  --space: var(--space-xxl);
}
